{:paths ["src" "test"]
 :tasks
 {build-doc {:doc "Build clerk documentation"
             :task (do
                     (println "Building Clerk notebooks...")
                     (apply shell
                            ["clojure" "-X:dev:build-doc"]))}

  serve-doc {:doc "Serve documentation"
             :task (do
                     (println "Serving document on port 7777...")
                     (apply shell
                            ["clojure" "-X:serve-doc"]))}

  watch-doc {:doc "Watch & serve Clerk notebooks"
             :task (do
                     (println "Watch Clerk notebooks...")
                     (apply shell
                            ["clojure" "-X:dev:watch-doc"]))}

  example {:doc "Run an example script"
           :task (let [[example] *command-line-args*]
                   (do
                     (println "Running" example "example")
                     (apply shell ["clojure" "-M:dev" "-m" (str "rt-clj." example "-example")])))}

  repl {:doc "Start a REPL with dev dependencies"
        :override-builtin true
        :task (do
                (println "Starting REPL with dev deps")
                (apply shell ["clojure" "-M:dev:repl"]))}

  serve-prof {:doc "Serve profiler UI"
              :task (shell "clojure" "-X:dev:serve-prof")}

  test {:doc "Run tests"
        :task (do
                (println "Running tests with args:" *command-line-args*)
                (apply shell ["clojure" "-M:dev:test"] *command-line-args*))}}}
