{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        expound/expound {:mvn/version "0.7.2"}}

 :aliases {:dev {:extra-paths ["dev" "examples" "test"]
                 :jvm-opts ["-Xss8m"                          ;; increase stack size
                            "-Djdk.attach.allowAttachSelf"    ;; used by profiler
                            "-XX:+EnableDynamicAgentLoading"] ;; used by profiler
                 :extra-deps {orchestra/orchestra {:mvn/version "2021.01.01-1"}
                              org.clojure/tools.namespace {:mvn/version "1.5.0"}
                              io.github.nextjournal/clerk {:mvn/version "0.17.1102"}
                              criterium/criterium {:mvn/version "0.4.6"}
                              com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.4.0"}}}

           :build-doc {:exec-fn nextjournal.clerk/build!
                       :exec-args {:paths ["examples/rt_clj/**" "src/**"]}}

           :serve-doc {:deps {org.babashka/http-server {:mvn/version "0.1.13"}}
                       :exec-fn babashka.http-server/exec
                       :exec-args {:port 7777
                                   :dir "public/build"}}

           :watch-doc {:exec-fn nextjournal.clerk/serve!
                       :exec-args {:browse? true
                                   :paths ["examples/rt_clj/**" "src/**"]
                                   :watch-paths ["examples/rt_clj" "src"]}}

           :repl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                               cider/cider-nrepl {:mvn/version "0.57.0"}
                               refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
                  :main-opts ["-m" "nrepl.cmdline"
                              "-p" "12345"
                              "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}

           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
                  :main-opts ["-m" "kaocha.runner"]}}}
